In [1]:
from carsus.io.nist import NISTWeightsComp, NISTIonizationEnergies
from carsus.io.kurucz import GFALLReader
from carsus.io.zeta import KnoxLongZeta
from carsus.io.chianti_ import ChiantiReader
from carsus.io.output import TARDISAtomData

import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import h5py

 ChiantiPy version 0.8.4
 found PyQt5 widgets
 using PyQt5 widgets

In [2]:
atomic_weights = NISTWeightsComp('Ga-Rb')
ionization_energies = NISTIonizationEnergies('Ga-Rb')

[carsus.io.nist.weightscomp][INFO] - Downloading data from the NIST Atomic Weights and Isotopic Compositions Database. (weightscomp.py:49)
[ carsus.io.nist.ionization][INFO] - Downloading ionization energies from the NIST Atomic Spectra Database. (ionization.py:65)

In [3]:
gfall_reader = GFALLReader(ions='Ga-Rb')
pd.set_option('display.max_columns', None)
gfall_reader.gfall_raw

[    carsus.io.kurucz.gfall][WARNING] - A specific combination to identify unique levels from GFALL data has not been given. Defaulting to ["energy", "j"]. (gfall.py:88)
[    carsus.io.kurucz.gfall][INFO] - Parsing GFALL: /home/katrine/MasterThesis/gfall.dat (gfall.py:141)

,wavelength,loggf,element_code,e_first,j_first,blank1,label_first,e_second,j_second,blank2,label_second,log_gamma_rad,log_gamma_stark,log_gamma_vderwaals,ref,nlte_level_no_first,nlte_level_no_second,isotope,log_f_hyperfine,isotope2,log_iso_abundance,hyper_shift_first,hyper_shift_second,blank3,hyperfine_f_first,hyperfine_note_first,blank4,hyperfine_f_second,hyperfine_note_second,line_strength_class,line_code,lande_g_first,lande_g_second,isotopic_shift
0,2.4898,-0.842,7.05,0.000,0.0,NaN,1s2 1S,4016390.000,1.0,NaN,s3p *1P,11.73,0.0,0.0,NBS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2.8787,-0.171,7.05,0.000,0.0,NaN,1s2 1S,3473790.000,1.0,NaN,s2p *1P,12.26,0.0,0.0,NBS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,5.2682,-0.870,5.03,0.000,0.0,NaN,1s2 1S,1898180.000,1.0,NaN,s3p *1P,0.00,0.0,0.0,NBS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,6.0313,-0.215,5.03,0.000,0.0,NaN,1s2 1S,1658020.000,1.0,NaN,s2p *1P,0.00,0.0,0.0,NBS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,6.1092,-5.150,5.03,0.000,0.0,NaN,1s2 1S,1636882.000,1.0,NaN,s2p *3P,0.00,0.0,0.0,DRA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564981,452493.3210,3.578,1.00,109430.063,5.5,NaN,AVERAGE,109452.156,6.5,NaN,ENERGIES,8.80,0.0,0.0,NaN,21.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
564982,518497.2090,3.637,1.00,109452.156,6.5,NaN,AVERAGE,109471.438,7.5,NaN,ENERGIES,8.80,0.0,0.0,NaN,22.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
564983,591062.8690,3.694,1.00,109471.438,7.5,NaN,AVERAGE,109488.352,8.5,NaN,ENERGIES,8.80,0.0,0.0,NaN,23.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
564984,669623.8150,3.748,1.00,109488.352,8.5,NaN,AVERAGE,109503.281,9.5,NaN,ENERGIES,8.80,0.0,0.0,NaN,24.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
564985,754956.4080,3.800,1.00,109503.281,9.5,NaN,AVERAGE,109516.523,10.5,NaN,ENERGIES,8.80,0.0,0.0,NaN,25.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [4]:
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['nlte_level_no_first']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['nlte_level_no_second']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['isotope']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['log_f_hyperfine']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['isotope2']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['log_iso_abundance']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['hyper_shift_first']!=0)]))
# print(len(gfall_reader.gfall_raw[(gfall_reader.gfall_raw['element_code']>30) & (gfall_reader.gfall_raw['hyper_shift_second']!=0)]))

In [5]:
chianti_reader = ChiantiReader(ions='H-He', collisions=False, priority=10)

In [6]:
zeta_data = KnoxLongZeta()

In [7]:
atom_data = TARDISAtomData(atomic_weights,
                           ionization_energies,
                           gfall_reader,
                           zeta_data,
                           chianti_reader)

[     carsus.io.output.base][INFO] - Ingesting lines from GFALL. (base.py:330)
[    carsus.io.kurucz.gfall][INFO] - Extracting line data: atomic_number, ion_charge, energy_lower, j_lower, energy_upper, j_upper, wavelength, loggf. (gfall.py:349)
[               py.warnings][WARNING] - /home/katrine/anaconda3/envs/carsus/lib/python3.6/site-packages/carsus-0.1.dev637-py3.6.egg/carsus/io/output/base.py:121: PerformanceWarning: indexing past lexsort depth may impact performance.
  ['atomic_number', 'ion_number']).loc[ion]
 (warnings.py:99)
[     carsus.io.output.base][INFO] - Ingesting lines from Chianti. (base.py:355)

In [8]:
atom_data.to_hdf('tardis_df_Rb.h5')

[     carsus.io.output.base][INFO] - Signing TARDISAtomData. (base.py:849)
[     carsus.io.output.base][INFO] - MD5: dc47c2f9625e65e22ce8d9e7e122dbdf (base.py:850)
[     carsus.io.output.base][INFO] - UUID1: 2cba2daa5b2611eb989f484520e23618 (base.py:851)

In [9]:
with h5py.File('tardis_df.h5') as f:
    print(f.keys())

[               py.warnings][WARNING] - /home/katrine/anaconda3/envs/carsus/lib/python3.6/site-packages/ipykernel_launcher.py:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  """Entry point for launching an IPython kernel.
 (warnings.py:99)
<KeysViewHDF5 []>