In [1]:
import pandas as pd
import numpy as np
from elements import elements
import elements.elements as elements
from astropy.table import Table

In [2]:
vdat = pd.read_csv('vald_data', header=None, skiprows=2, nrows=400000)
vdat = vdat.drop(13,axis=1)
vdatc = vdat.copy()
vdat = vdat[vdat[12].notna()]
vdat = vdat[0:10000]
vdat = vdat.reset_index(drop=True)
#vdat.iloc[92717]
vdat

/home/katrine/anaconda3/envs/carsus/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,'Sc 5',50.000650,-3.096,263453.10,0.5,463450.50,0.5,0.67,2.66,1.66,9.71,-7.33,-8.09
1,'Ni 3',50.001630,-4.145,2269.60,2,202263.08,1.0,0.67,0.14,0.93,8.36,-6.70,-7.72
2,'Co 4',50.002225,-2.220,29592.20,4,229583.30,5.0,1.05,1.00,0.90,9.32,-7.08,-8.02
3,'Mg 4',50.002400,-4.340,597065.70,1.5,797056.00,0.5,99.00,99.00,99.00,0.00,0.00,0.00
4,'Ca 2',50.003533,-4.775,89214.13,0.5,289200.00,0.5,1.56,2.00,1.78,9.13,-3.73,-6.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,'Fe 7',60.472654,-7.571,389342.00,2,554706.00,1.0,2.00,0.57,2.72,9.76,-7.23,-8.01
9996,'Fe 3',60.472888,-6.808,35802.99,2,201166.35,3.0,1.00,1.51,2.02,8.39,-6.73,-7.71
9997,'Mn 3',60.473122,-5.546,43573.16,4.5,208935.88,4.5,1.33,1.08,1.20,8.88,-5.90,-7.72
9998,'Cl 3',60.473200,-1.870,29905.60,1.5,195268.20,1.5,99.00,99.00,99.00,0.00,0.00,0.00
9999,'Fe 3',60.473671,-6.452,35802.99,2,201164.21,2.0,1.00,1.60,1.30,8.34,-6.81,-7.71

In [3]:
labels = vdatc.copy()
labels = labels[~labels[12].notna()][0:30000]
labels = pd.Series(labels.fillna('').values.tolist()).str.join(',')
labels = labels.replace({',,+':''}, regex=True)
labels = labels.replace({'\'  ':''}, regex=True)
labels = labels.replace({'\'':''}, regex=True)
labels = labels.replace({'  +':' '}, regex=True)

label_l = labels.iloc[::3]
label_l = label_l.reset_index(drop=True)
label_u = labels.iloc[1::3]
label_u = label_u.reset_index(drop=True)

In [4]:
el_list = pd.read_csv('elements.txt',delimiter=' ',header=None)
values = el_list[0]

numbers = range(len(el_list[0])+1)
el_dict = dict(zip(el_list[0], numbers[1:]))

In [5]:
wave = vdat[1].astype(float).round(4)
log_gf = (vdat[2].astype(float)).round(3)

el = vdat[0].str.split(" ", n = 1, expand = True)
el[0] = el[0].replace({'\'':''}, regex=True)

for i in range(len(el[0])):
    e = el[0][i]
    el[0][i] = el_dict[e]

el[1] = (el[1].replace({'\'':''}, regex=True).astype(int) - 1).apply(lambda x: '{0:0>2}'.format(x))
elm = el[0].map(str) + '.' + el[1].map(str)

E_l = vdat[3].astype(float)#*8065.54
j_l = vdat[4].apply(lambda x: '{0:0>2}'.format(x))
#label_l = pd.DataFrame(['2D' for s in range(len(vdat))])
E_u = vdat[5].astype(float)#*8065.54
j_u = vdat[6].apply(lambda x: '{0:0>2}'.format(x))
#label_u = pd.DataFrame(['2D' for s in range(len(vdat))])
lande_l = vdat[7]*1000
lande_u = vdat[8]*1000
rad = vdat[10]
stark = vdat[11]
waals = vdat[12]
zeroes = pd.DataFrame(np.zeros((len(vdat), 1)))

df_vald = pd.concat([wave, log_gf, elm, E_l, j_l, label_l, E_u, j_u, label_u, rad, stark, waals, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, lande_l, lande_u], axis=1)
df_vald.columns = range(df_vald.shape[1])
df_vald

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,50.0006,-3.096,21.04,263453.10,0.5,LS (3P)3d 4P,463450.50,0.5,LS 5(1P)3d 2P*,9.71,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,670.0,2660.0
1,50.0016,-4.145,28.02,2269.60,2.0,LS 3p6.3d8 3F,202263.08,1.0,LS 3p6.3d7.(4F).5p 5F*,8.36,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,670.0,140.0
2,50.0022,-2.220,27.03,29592.20,4.0,LS 3d6 3G,229583.30,5.0,LS 3d5.(2H).4p 1H*,9.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1050.0,1000.0
3,50.0024,-4.340,12.03,597065.70,1.5,LS 2s2.2p4.(3P).3p 4P*,797056.00,0.5,LS 2s2.2p4.(1S).4s 2S,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99000.0,99000.0
4,50.0035,-4.775,20.01,89214.13,0.5,LS 3p6.(1S).10s 2S,289200.00,0.5,LS 4s5s 2P*,9.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1560.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,60.4727,-7.571,26.06,389342.00,2.0,LS 3p5.(2P*).3d3.(4F) 5S*,554706.00,1.0,LS 3p6.3d.4d 3D,9.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000.0,570.0
9996,60.4729,-6.808,26.02,35802.99,2.0,LS 3d6 1D2,201166.35,3.0,LS 3d5.(4P).5p 5D*,8.39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,1510.0
9997,60.4731,-5.546,25.02,43573.16,4.5,LS 3d5 a4F,208935.88,4.5,LS 3d4.(5D).4f z6H*,8.88,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,1080.0
9998,60.4732,-1.870,17.02,29905.60,1.5,LS 3s2.3p3 2P*,195268.20,1.5,LS 3s2.3p2.(1D).3d 2D,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99000.0,99000.0
9999,60.4737,-6.452,26.02,35802.99,2.0,LS 3d6 1D2,201164.21,2.0,LS 3d5.(4P).5p 5D*,8.34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,1600.0

In [6]:
df_vald.to_csv('VALD_linelist.dat', header=None, index=None)

In [7]:
pd.options.display.max_rows = len(df_vald)
pd.options.display.max_columns = df_vald.shape[1]
pd.set_option('display.expand_frame_repr', False)

with open('VALD_linelist.dat', 'w') as f: 
    df_vald.to_string(f, col_space=10, index=False, header=None)