In [1]:
import pandas as pd
import numpy as np
from elements import elements
import elements.elements as elements
from astropy.table import Table

In [2]:
vdat = pd.read_csv('vald_test2', header=None, skiprows=2, nrows=400000)
vdat = vdat.drop(13,axis=1)
vdatc = vdat.copy()
vdat = vdat[vdat[12].notna()]
vdat = vdat[0:100]
vdat = vdat.reset_index(drop=True)
#vdat.iloc[92717]
vdat

/home/katrine/anaconda3/envs/carsus/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,'Sc 5',500.006500,-3.096,32.6640,0.5,57.4605,0.5,0.67,2.66,1.66,9.71,-7.33,-8.09
1,'Ni 3',500.016301,-4.145,0.2814,2,25.0774,1.0,0.67,0.14,0.93,8.36,-6.70,-7.72
2,'Co 4',500.022251,-2.220,3.6690,4,28.4647,5.0,1.05,1.00,0.90,9.32,-7.08,-8.02
3,'Mg 4',500.024000,-4.340,74.0267,1.5,98.8223,0.5,99.00,99.00,99.00,0.00,0.00,0.00
4,'Ca 2',500.035327,-4.775,11.0611,0.5,35.8562,0.5,1.56,2.00,1.78,9.13,-3.73,-6.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,'Fe 4',501.106192,-2.904,3.9979,5.5,28.74,4.5,1.27,1.11,1.64,9.64,-7.05,-7.99
96,'Co 4',501.109707,-0.818,4.5481,4,29.2901,3.0,1.00,1.00,1.00,9.75,-7.07,-8.01
97,'Co 4',501.117994,-1.203,0.1683,1,24.9098,2.0,1.50,1.01,0.77,9.20,-7.13,-8.02
98,'Co 4',501.136327,-2.664,3.7031,3,28.4437,4.0,0.76,1.22,1.91,9.48,-7.11,-8.02
99,'Ca 7',501.140847,-3.257,0.5048,2,25.2452,2.0,1.50,1.00,1.25,9.28,-7.45,-8.18

In [3]:
labels = vdatc.copy()
labels = labels[~labels[12].notna()][0:300]
labels = pd.Series(labels.fillna('').values.tolist()).str.join(',')
labels = labels.replace({',,+':''}, regex=True)
labels = labels.replace({'\'  ':''}, regex=True)
labels = labels.replace({'\'':''}, regex=True)
labels = labels.replace({'  +':' '}, regex=True)

label_l = labels.iloc[::3]
label_l = label_l.reset_index(drop=True)
label_u = labels.iloc[1::3]
label_u = label_u.reset_index(drop=True)

In [4]:
el_list = pd.read_csv('elements.txt',delimiter=' ',header=None)
values = el_list[0]

numbers = range(len(el_list[0])+1)
el_dict = dict(zip(el_list[0], numbers[1:]))

In [5]:
wave = (vdat[1].astype(float)/10).round(4)
log_gf = (vdat[2].astype(float)).round(3)

el = vdat[0].str.split(" ", n = 1, expand = True)
el[0] = el[0].replace({'\'':''}, regex=True)

for i in range(len(el[0])):
    e = el[0][i]
    el[0][i] = el_dict[e]

el[1] = (el[1].replace({'\'':''}, regex=True).astype(int) - 1).apply(lambda x: '{0:0>2}'.format(x))
elm = el[0].map(str) + '.' + el[1].map(str)

E_l = vdat[3].astype(float)
j_l = vdat[4].apply(lambda x: '{0:0>2}'.format(x))
#label_l = pd.DataFrame(['2D' for s in range(len(vdat))])
E_u = vdat[5].astype(float)
j_u = vdat[6].apply(lambda x: '{0:0>2}'.format(x))
#label_u = pd.DataFrame(['2D' for s in range(len(vdat))])
lande_l = vdat[7]*1000
lande_u = vdat[8]*1000
rad = vdat[10]
stark = vdat[11]
waals = vdat[12]
zeroes = pd.DataFrame(np.zeros((len(vdat), 1)))

df_vald = pd.concat([wave, log_gf, elm, E_l, j_l, label_l, E_u, j_u, label_u, rad, stark, waals, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, zeroes, lande_l, lande_u], axis=1)
df_vald.columns = range(df_vald.shape[1])
df_vald

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,50.0006,-3.096,21.04,32.6640,0.5,LS (3P)3d 4P,57.4605,0.5,LS 5(1P)3d 2P*,9.71,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,670.0,2660.0
1,50.0016,-4.145,28.02,0.2814,2.0,LS 3p6.3d8 3F,25.0774,1.0,LS 3p6.3d7.(4F).5p 5F*,8.36,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,670.0,140.0
2,50.0022,-2.220,27.03,3.6690,4.0,LS 3d6 3G,28.4647,5.0,LS 3d5.(2H).4p 1H*,9.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1050.0,1000.0
3,50.0024,-4.340,12.03,74.0267,1.5,LS 2s2.2p4.(3P).3p 4P*,98.8223,0.5,LS 2s2.2p4.(1S).4s 2S,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99000.0,99000.0
4,50.0035,-4.775,20.01,11.0611,0.5,LS 3p6.(1S).10s 2S,35.8562,0.5,LS 4s5s 2P*,9.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1560.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,50.1106,-2.904,26.03,3.9979,5.5,LS 3d5 4G,28.7400,4.5,LS 3d4.(1G2).4p 2G*,9.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1270.0,1110.0
96,50.1110,-0.818,27.03,4.5481,4.0,LS 3d6 1G2,29.2901,3.0,LS 3d5.(2F2).4p 1F*,9.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,1000.0
97,50.1118,-1.203,27.03,0.1683,1.0,LS 3d6 5D,24.9098,2.0,LS 3d5.(4D).4p 5F*,9.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,1010.0
98,50.1136,-2.664,27.03,3.7031,3.0,LS 3d6 3G,28.4437,4.0,LS 3d5.(2F2).4p 3F*,9.48,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,760.0,1220.0
99,50.1141,-3.257,20.06,0.5048,2.0,LS s2p2 3P,25.2452,2.0,LS sp3 1D*,9.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,1000.0

In [6]:
df_vald.to_csv('VALD_linelist.dat', header=None, index=None)

In [7]:
pd.options.display.max_rows = len(df_vald)
pd.options.display.max_columns = df_vald.shape[1]
pd.set_option('display.expand_frame_repr', False)

with open('VALD_linelist.dat', 'w') as f: 
    df_vald.to_string(f, col_space=10, index=False, header=None)